<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->    
    <title>RelivAid</title>
    <style>
        *{
            margin:0;
            padding:0;
            text-align: center;
            font-family: sans-serif;
            background-color: purple;

            
        }

        @media screen and (max-width: 670px){
            header{
              min-height: 500px;
            }
        }
    </style>

<section class="section container" id="contact">
    <div class="row">
        <div clas="col s12 15">
            <h2 class="white-text text-darken-4">Haha , You just contacted us.</h2>
            <h4 class=" white-text text-darken-4"><h4>
            <h2>BINOD</h2>

        </div>
