<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->    
    <title>Illumination Care</title>


    <section class="section container" id="contact">
        <div class="row">
            <div clas="col s12 15">
                <h2 class="purple-text text-darken-4">Register to be able to go Home</h2>
    
            </div>
            <div class="col s12 15 offset-12">
              <form action="" method="POST">
               {% csrf_token %}
                    <div class="input-field">
                        <i class="material material-icons prefix">account_box</i>
                        <textarea id="message" class="materialize-textarea" name="name"></textarea>
                        <label for="message">Name</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">credit_card</i>
                        <textarea id="message" class="materialize-textarea" name='aadnum'></textarea>
                        <label for="message">Addhar number</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">edit_location</i>
                        <textarea id="message" class="materialize-textarea" name="going"></textarea>
                        <label for="message">Goto location</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">edit_location</i>
                        <textarea id="message" class="materialize-textarea" name="staying"></textarea>
                        <label for="message">Current location</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input type="text" id="date" class="datepicker" name="bdate">
                        <label for="date">Enter Your Birthdate</label>
                    </div>
                    <div class="input-field center">
                        <button class="btn large light blue">Submit</button>
                    </div>
    
                </form>
        </div>
    </section>
            
                
                
            
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
            $('.datepicker').datepicker({
            

           });
        });
    </script>
</body>
</html>

()