<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>   
    <!-- Compiled and minified JavaScript -->    
    <title>RelivAid</title>
    <style>
        *{
            margin:0;
            padding:0;
            font-family: sans-serif;
            
        }
        .card {
          text-align: center;
        }

        @media (max-width: 990px) {
          .resizeimg {
            height: auto;
          }
        }

        @media (min-width: 1000px) {
          .resizeimg {
            width: auto;
            height: 350px;
          }
        }
                
        @media screen and (max-width: 670px){
            header{
              min-height: 500px;
            }
        }

        
        
    </style>
</head>
<body>
    <div class="row text-center">
        <div class="col s3">
          <div class="card z-depth-2" ui-sref='forsaleitem({type:"interior"})'>
            <div class="card-content">
              <h5 class='text-center' style="font-size: large;">Prathesh</h5>
              <h5 class='text-center' style="font-size: large;">Aadhar Number: 1920 3792 7017</h5>
              <h5 class='text-center' style="font-size: large;">DOB: 10-12-1947</h5>
              <h5 class='text-center' style="font-size: large;">Current Address: </h5>
              <h5 class='text-center' style="font-size: large;">GoTo Location: </h5>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card z-depth-2" ui-sref='forsaleitem({type:"interior"})'>
            <div class="card-content">
              <h5 class='text-center' style="font-size: large;">Ramesh</h5>
              <h5 class='text-center' style="font-size: large;">Aadhar Number: 9857 9327 3902</h5>
              <h5 class='text-center' style="font-size: large;">DOB: 01-08-2000</h5>
              <h5 class='text-center' style="font-size: large;">Current Address: </h5>
              <h5 class='text-center' style="font-size: large;">GoTo Location: </h5>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card z-depth-2" ui-sref='forsaleitem({type:"interior"})'>
            <div class="card-content">
              <h5 class='text-center' style="font-size: large;">Lakshmi</h5>
              <h5 class='text-center' style="font-size: large;">Aadhar Number: 9384 8394 1028</h5>
              <h5 class='text-center' style="font-size: large;">DOB: 18-05-1998</h5>
              <h5 class='text-center' style="font-size: large;">Current Address: </h5>
              <h5 class='text-center' style="font-size: large;">GoTo Location: </h5>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card z-depth-2" ui-sref='forsaleitem({type:"interior"})'>
            <div class="card-content">
              <h5 class='text-center' style="font-size: large;">Rishi</h5>
              <h5 class='text-center' style="font-size: large;">Aadhar Number: 9382 4657 9247</h5>
              <h5 class='text-center' style="font-size: large;">DOB: 16-14-1980</h5>
              <h5 class='text-center' style="font-size: large;">Current Address: </h5>
              <h5 class='text-center' style="font-size: large;">GoTo Location: </h5>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card z-depth-2" ui-sref='forsaleitem({type:"interior"})'>
            <div class="card-content">
              <h5 class='text-center' style="font-size: large;">Rohan</h5>
              <h5 class='text-center' style="font-size: large;">Aadhar Number: 2049 2839 3927</h5>
              <h5 class='text-center' style="font-size: large;">DOB: 29-03-1980</h5>
              <h5 class='text-center' style="font-size: large;">Current Address: </h5>
              <h5 class='text-center' style="font-size: large;">GoTo Location: </h5>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card z-depth-2" ui-sref='forsaleitem({type:"interior"})'>
            <div class="card-content">
              <h5 class='text-center' style="font-size: large;">Radha</h5>
              <h5 class='text-center' style="font-size: large;">Aadhar Number: 3928 4983 4593</h5>
              <h5 class='text-center' style="font-size: large;">DOB: 10-02-1980</h5>
              <h5 class='text-center' style="font-size: large;">Current Address: </h5>
              <h5 class='text-center' style="font-size: large;">GoTo Location: </h5>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card z-depth-2" ui-sref='forsaleitem({type:"interior"})'>
            <div class="card-content">
              <h5 class='text-center' style="font-size: large;">Alkesh</h5>
              <h5 class='text-center' style="font-size: large;">Aadhar Number: 2938 4028 4895</h5>
              <h5 class='text-center' style="font-size: large;">DOB: 19-7-1941</h5>
              <h5 class='text-center' style="font-size: large;">Current Address: </h5>
              <h5 class='text-center' style="font-size: large;">GoTo Location: </h5>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card z-depth-2" ui-sref='forsaleitem({type:"interior"})'>
            <div class="card-content">
              <h5 class='text-center' style="font-size: large;">Maya</h5>
              <h5 class='text-center' style="font-size: large;">Aadhar Number: 9485 4935 6038</h5>
              <h5 class='text-center' style="font-size: large;">DOB: 10-08-1996</h5>
              <h5 class='text-center' style="font-size: large;">Current Address: </h5>
              <h5 class='text-center' style="font-size: large;">GoTo Location: </h5>
            </div>
          </div>
        </div>
        <div class="col s3">
          <div class="card z-depth-2" ui-sref='forsaleitem({type:"interior"})'>
            <div class="card-content">
              <h5 class='text-center' style="font-size: large;">Pinky</h5>
              <h5 class='text-center' style="font-size: large;">Aadhar Number: 0485 2938 0128</h5>
              <h5 class='text-center' style="font-size: large;">DOB: 22-01-1976</h5>
              <h5 class='text-center' style="font-size: large;">Current Address: </h5>
              <h5 class='text-center' style="font-size: large;">GoTo Location: </h5>
            </div>
          </div>
        </div>
      </div>
</body>
